html {
    margin: 0;
    padding: 0;
    body {
        margin: 0px;
    }
}

.share {
    .share-wechat {
        background: url(../imgs/share-wechat.png?__sprite) no-repeat;
    }
    .share-qzone {
        background: url(../imgs/share-qzone.png?__sprite) no-repeat;
    }
    .share-weibo {
        background: url(../imgs/share-weibo.png?__sprite) no-repeat;
    }
    .share-item {
        display: inline-block;
        width: 43px;
        height: 43px;
    }
}